* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header {
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
}

.container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    display: flex;
    gap: 30px;

}

.black {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-family: sans-serif
}

ul {
    list-style: none;
}

#hero {
    background-image: url(./img/1\ \(3\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 200px;

}

.hero-title {
    color: white;
    font-size: 80px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.hero-btn {
    background-color: #F57520;
    width: 180px;
    height: 52px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.hero-subtitle {
    color: snow;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 20px;
    line-height: 30px;
    margin-bottom: 25px;
}

#hero2 {
    background-color: #101010;
    height: 220px;
}

.hero-subtitle2 {
    color: white;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 40px;

}

.one {
    display: flex;
    padding-top: 40px;
    padding-bottom: 50px;
    gap: 70px;
    justify-content: space-between;
}

.btnn {
    color: #F57520;
}

.hero-title4 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 54px;
    padding-top: 110px;
    padding-bottom: 100px;
}

#hero4 {}

.hero-subtitle4 {
    font-family: sans-serif;
    line-height: 25px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.about {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#hero5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding-top: 25px; */
    background-color: gray;
}

.hero-class {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: sans-serif;

}

.hero-subtitle5 {
    font-family: sans-serif;
    margin-top: 25px;
    line-height: 28px;

}

.card-top__info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-top__info img {
    width: 30px;
    height: 30px;
}

.sarlavha {
    font-family: sans-serif;
    font-size: 44px;
    padding-top: 70px;
    text-transform: uppercase;
}

.card2 {
    border-radius: 10px;
    border: solid black;
    width: 410px;
    margin-top: 50px;
    background-color: #101010;
    height: 400px;
}

.img1 {
    border-radius: 15px;
}

.card_1 {
    padding-top: 15px;
    padding-left: 25px;
    font-family: sans-serif;
    color: white;
}

.card_3 {
    padding-top: 10px;
    padding-left: 25px;
    font-family: sans-serif;
    color: #F57520;
}

.card_4 {
    padding-top: 15px;
    padding-left: 25px;
    font-family: sans-serif;
    color: white;
    line-height: 30px;
}

.card_5 {
    color: white;
    font-family: sans-serif;
    padding-left: 25px;
    padding-top: 25px;
}

.cardd {
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
    height: 600px;
}

#hero7 {
    background-attachment: fixed;
    background-image: url("./img/map.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#hero8 {
    background-image: url("./img/pic.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

.hero-title8 {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
}

.hero-subtitle8 {
    color: white;
    font-size: 20px;
    line-height: 35px;
    font-family: sans-serif;
    padding-bottom: 35px;
}

.hero-clean {
    padding-top: 150px;
}

#hero9 {
    background-color: #101010;
    padding-top: 100px;
}

.hero-subtitle9 {
    color: white;
    font-family: sans-serif;
    padding-top: 50px;
    line-height: 28px;
}

.novbar {
    padding-bottom: 200px;
}

.hero-ul {
    color: white;
    line-height: 40px;
    display: flex;
    flex-direction: column;
}

.who {
    display: flex;
    gap: 120px;
}
.hero-title10{
    border: 1px solid black;
    background-color: #F57520;
    border: none;
    padding-left: 420px;
    display: block;
    border-radius: 10px;
    width: 1280px;
    
}
.drop{
  padding-top: 15px;
}
.ali{
    margin-top: 80px;
    font-size: 40px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.room{
    border: 1px solid black;
    background-color: #101010;
    border: none;
    width: 400px;
    height: 455px;
    padding-top: 160px;
    border-radius: 10px;
    margin-top: 15px;
}
.living{
    border: 1px solid black;
    background-color: #101010;
    width: 400px;
    height: 190px;
    border-radius: 10px;
    border: none;
    padding-left: 270px;
    margin-top: 15px;
}
.icon{
    display: flex;
    gap: 15px;
}
.seven{
    border: 1px solid black;
    border-radius: 10px;
    width: 448px;
    height: 239px;
    background-color: black;
    border: none;
    padding-left: 225px;
    padding-top: 90px;
}
.six{
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    height: 252px;
    width: 400px;
    border: none;
    padding-left: 95px;
}
.icon{
    display: flex;
}
.bath{
    border:  1px solid black;
    background-color: black;
    border-radius: 10px;
    border: none;
    width: 448px;
    height: 239px;
    padding-left: 220px;
    padding-top: 95px;
    margin-top: 15px;
}
.pleace{
    border: 1px solid black;
    background-color: #101010;
    border-radius: 10px;
    border: none;
    width: 448px;
    height: 203px;
    padding-left: 270px;
}
.wow{
    margin-bottom: 100px;
}
 

#hero11 {
    background-image: url("./img/image\ 45.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 130px;
}

.hero-title11 {
    font-size: 44px;
    font-family: Bebas Neue Cyrillic;
    color: white;
    margin-top: -110px;
    text-transform: uppercase;
}

.self {
    display: flex;
    gap: 15px;
    padding-bottom: 50px;

}

.self p {
    color: white;
}

.self img {
    border-radius: 20px;
    margin-top: 25px;
}

.hero-title12 {
    font-size: 64px;
    padding-top: 90px;
    font-family: sans-serif;
    text-transform: uppercase;
}
#hero12{
    background-color: whitesmoke;
    height: 850px;
}

.hero-time {
    border: 1px solid black;
    width: 270px;
    background-color: #34312D;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 20px;
}

.hero-subtitle12 {
    padding-top: 25px;
    padding-left: 15px;
    color: white;
}

.hero-subtitle1212 {
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 15px;
    color: white;
}

.young {
    display: flex;
    gap: 25px;
}

.hero-floor {
    font-family: sans-serif;
    line-height: 25px;
    color: grey;
}

.young {
    display: flex;
    gap: 50px;
    align-items: center;
}

.hero-title13 {
    font-size: 48px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-transform: uppercase;
    font-family: sans-serif;

}

.hero-title1234 {
    padding-bottom: 20px;
    padding-left: 20px;
}

.hero-subtitle13 {
    padding-left: 20px;
    padding-bottom: 20px;
}

.hero-subtitle123 {
    padding-left: 20px;
    padding-bottom: 10px;
}

.hero-padding {
    width: 210px;
    background-color: #F57520;
    border: none;
    border-radius: 10px;
    color: white;
    padding-top: 15px;
    margin-bottom: 20px ;
    margin-left: 25px;
}

.next {
    display: flex;
    gap: 30px;
}
.hero-title14{
    font-size: 48px;
    font-family: sans-serif;
    margin-top: 70px;
    padding-top: 50px;
    text-transform: uppercase;
}
.hero-subtitle14{
    font-family: sans-serif;
    color: grey;
    padding-bottom: 20px;
    line-height: 25px;
    padding-left: 15px;
}
.hero-subtitle144{
    color: grey;
    font-family: sans-serif;
    padding-left: 15px;
}
.sup{
    width: 370px;
    margin-top: 60px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding-bottom: 15px;
}
#hero14{
    background-color: whitesmoke;
    height: 700px;
}
.border{
    /* display: flex;
    gap: 50px; */
}
.norm{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

